.flag-container h1 {
    text-align: center;
}

.flag-box {
    width: 500px;
    height: 300px;
    border: 1px solid #000;
    margin: 40px auto;
}
.white-part {
    width: 30%;
    height: 100%;
}
.green-part {
    width: 70%;
    height: 100%;
    background-color: rgb(4, 45, 4);
}

.moon {
    width: 12rem;
    height: 12rem;
    margin: 0 7rem;
    border-radius: 50%;
    box-shadow: -1.5rem 2rem 0 0 #fff;
}
.star {
    position: relative;
    top: 90px;
    left: 50px;
    display: inline-block;
    width: 0;
    height: 0;
    
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid #fff;
    border-left:   .3em solid transparent;
  
    /* Controlls the size of the stars. */
    font-size: 24px;
    
    &:before, &:after {
      content: '';
      
      display: block;
      width: 0;
      height: 0;
      
      position: absolute;
      top: .6em;
      left: -1em;
    
      border-right:  1em solid transparent;
      border-bottom: .7em  solid #fff;
      border-left:   1em solid transparent;
    
      transform: rotate(-35deg);
    }
    
    &:after {  
      transform: rotate(35deg);
    }
  }
.pull-left {
    float: left;
}

.clearfix {
    clear: both;
}